<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/binarleetcode/src/binarleetcode/fb1.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="binarleetcode.fb1"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="binarleetcode"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="binarleetcode"/>
</launchConfiguration>
